@tailwind base;
@tailwind components;
@tailwind utilities;

table td {
    text-align: center;
    justify-content: center;
    .Toastify__progress-bar,
    .Toastify__progress-bar--animated,
    .Toastify__progress-bar-theme--light,
    .Toastify__progress-bar--default {
    background: rgba(255, 255, 255, 0.75) !important; /* To override default toast fancy progress-bar */
}

:root {
    --toastify-toast-width: auto; /* toast width can be modified here */
}