<div class="w-full bg-gray-900 py-4">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap items-center md:justify-between justify-center">
      <div class="text-sm text-white py-1">
        Copyright © 2021
        <a href="{% url 'home' %}" class="text-white hover:text-gray-400 text-sm font-semibold py-1">
          DHost
        </a>
      </div>
      <ul class="flex flex-wrap list-none justify-center">
        <li>
          <a href="https://github.com/dhost-project/dhost" class="text-white hover:text-gray-400 text-sm font-semibold block py-1 px-3">
            Github
          </a>
        </li>
        <li>
          <a href="#" class="text-white hover:text-gray-400 text-sm font-semibold block py-1 px-3">
            Doc
          </a>
        </li>
        <li>
          <a href="#" class="text-white hover:text-gray-400 text-sm font-semibold block py-1 px-3">
            About
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
