{% extends "host/base.html" %}
{% load static i18n %}

{% block title %}
{% trans "Home" %}
{% endblock title %}

{% block content %}

{% if website_list %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Status</th>
      <th scope="col">URL</th>
      <th scope="col">Manage</th>
    </tr>
  </thead>
  <tbody>
  {% for website in website_list %}
    <tr class="
        {% if website.status == 'UP' %}
          table-success
        {% elif website.status == 'ST' %}
          table-light
        {% elif website.status == 'SR' %}
          table-warning
        {% endif %}">
      <th scope="row">{{ count }}</th>
      <td>{{ website.name }}</td>
      <td>{{ website.get_status_display }}</td>
      <td>{{ website.url }}</td>
      <td></td>
    </tr>
  {% endfor %}
    </ul>
{% else %}
    <p>No websites are available.</p>
{% endif %}

{% endblock %}

