.dappbar-item.active::after {
  content: " ";
  display: block;
  background: #8ab48a;
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.dappbar-item:not(.active):hover:after {
  content: " ";
  display: block;
  background: #c8d2c8;
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
}
