@import "../../variables";

#bg-dappbar {
  background: linear-gradient(to right, #b3fafabb, #b0b8f8bb);
}

#btn-visit {
  margin-right: 12px !important;
  background-color: $blue-400;
  border-color: $blue-500;
  color: $white;
}

.nav-item .active {
  position: relative;
}

// add the active indicator under the nav-item
.nav-item .active::after {
  content: " ";
  display: block;
  background: $primary;
  height: 2px;
  width: 100%;

  position: absolute;
  left: 0;
  bottom: -2px;
}
