#bg-dappbar {
  background: linear-gradient(to right, #b2dfdb, #c5cae9);
}

#nav-dappbar .active {
  position: relative;
}

// add the active indicator under the nav-item
#nav-dappbar .active::after {
  content: " ";
  display: block;
  background: green;
  height: 2px;
  width: 100%;

  position: absolute;
  left: 0;
  bottom: -2px;
}
