{% extends "users/base_card.html" %}
{% load i18n static %}

{% block content %}
{% if validlink %}
  <p>
    {% translate "Please enter your new password twice so we can verify you typed it in correctly." %}
  </p>
  <form method="post">
    {% csrf_token %}
    {{ form }}
    <input class="visually-hidden" autocomplete="username" value="{{ form.user.get_username }}">
    <input class="btn btn-primary" type="submit" value="{% translate "Change my password" %}">
  </form>
{% else %}
<p>
  {% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}
</p>
{% endif %}
{% endblock %}
